/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/*Components*/
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

#card-title {
  text-align: center;
  font-size: 32px
  margin: 30px;
}

body {
  background-color: rgb(240,240,240);
}

.footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: rgba(100,100,100,.9);
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
}

