.cards {
  display: flex;
  justify-content: space-around;
}

.card-product {
  margin-top: ;
  width: 30%;
  box-shadow: 2px 2px 10px rgba(0,0,0,.2);
  border-radius: 8px;
  background-color: rgb(220,220,220);
}
.card-product img {
  width: 100%;
  border-radius: 8px;
}

.card-product-content {
  text-align: center;
}
